<% title "#{@title}" %>

    <span id="right_content">

      <div id="form_content">

        <div id="form_content_header">

          <span id="form_content_header_sign_up">
          <!-- end #form_content_header_sign_up --></span>

          <span id="form_content_header_body">
          <!-- end #form_content_header_body --></span>

          <span id="form_content_header_right">
          <!-- end #form_content_header_right --></span>

        <!-- end #form_content_header --></div>

        <div id="form_content_body">

          <div id="form_content_text">

            <div id="content_body">

              <div id="already_have_account">
                Already have an account? <%= link_to "Login As A StakeOn2 Member", login_path %>
              <!-- end #already_have_account --></div>

              <%= render :partial => 'form' %>

            <!-- end #content_body --></div>


          <!-- end #form_content_text --></div>

        <!-- end #form_content_body --></div>

