<% title "#{@title}" %>

    <span id="right_content">

      <div id="form_content">

        <div id="form_content_header">

          <span id="form_content_header_marketer_rules">
          <!-- end #form_content_header_marketer_rules --></span>

          <span id="form_content_header_body">
          <!-- end #form_content_header_body --></span>

          <span id="form_content_header_right">
          <!-- end #form_content_header_right --></span>

        <!-- end #form_content_header --></div>

        <div id="form_content_body">

          <div id="form_content_text">

            <div id="content_body">

              <p>

                <a name="top"></a>

                <h4>FREQUENTLY ASKED QUESTIONS FOR STAKEON2 MARKETTING</h4>

                <div class="anchor_links">

                  <span><a href="#becoming">Becoming An Elligible Marketer</a></span><span> | </span>
                  <span><a href="#picking">Picking Up The CDs</a></span><span> | </span>
                  <span><a href="#remitting">Remitting Payments</a></span>

                <!-- .anchor_links --></div>

                <div class="anchor_links">

                  <span><a href="#getting">Getting Paid</a></span><span> | </span>
                  <span><a href="#grand">Grand Prizes</a></span><span> | </span>
                  <span><a href="#subsequent">Subsequent Months</a></span>

                <!-- .anchor_links --></div>


                <h5><a name="becoming">BECOMING AN ELLIGIBLE MARKETER</a></h5>

                <ol>

                  <li class="sub_heading">How do I become an eligible marketer?</li>

                  <p>The following are steps to become an eligible member of www.stakeon2.com.</p>

                  <ol type="a">

                    <li>Visit www.stakeon2.com and follow the Sign Up As A StakeOn2 Marketer.</li><br />

                    <li>Fill the basic form.</li><br />

                    <li>You will be redirected to the specification page.</li><br />

                    <li>Fill in the details specification form.</li><br />

                    <li>Upload a passport photograph. The maximum file size is 500 kilobytes.</li><br />

                    <li>

                      Proceed to make payment of N2,500 at Minji-Se Churchill Micro Finance Bank at #26
                      Churchill Road, Town, Port Harcourt, Rivers State or Minji-Se Churchill Micro
                      Finance Bank's Account at any UBA branch closest to him/her with the following details

                    </li>

                      <br />

	                    <div>Account Name:	MCMFB LTD<div><br />

	                    <div>Account Number:	00860030000025<div><br />

	                    <div>Bank:			United Bank of Africa (UBA)<div><br />

                  		This deposit serves as the registeration fee for participating as a marketer to
                  		enable the aspiring marketer go with 10	CDs on daily basis.<br /><br />

                    <li>An alert will appear on the marketer's page informing the marketer that he or she
	                    is now an eligible marketer for one month and also informing the marketer on
	                    when the one month will expire.</li><br />

                    <li>An email will also be sent to the email address of the marketer that he / she is
	                    now an eligible marketer for www.stakeon2.com.</li><br />

                  </ol>

                  <li class="sub_heading">What of if I do not get my alert or the email to inform me of my eligibility?</li>

                  <p>

                      You can get in contact with the administrators of www.stakeon2.com by following the
                      link www.stakeon2.com/admincontact and opening a ticket where you will be attended
                      by one of our attendants.

                  </p>

                </ol>

                <div class="top_anchor_div">

                  <a href="#top" class="top_anchor">Back To The Top</a>

                <!-- .top_anchor_div --></div>


                <h5><a name="picking">PICKING UP THE CDs</a></h5>

                <ol>

                  <li class="sub_heading">How many CDs can I pick up when I am confirmed to be eligible?</li>

                  <p>

                    The marketers of www.stakeon2.com are allowed to pick up 10 CDs between 8:00AM and
                    7:00PM on every working day.

                  </p>

                  <li class="sub_heading">Which are the working days of www.stakeon2.com?</li>

                  <p>

                    The distribution outlets of www.stakeon2.com are open to the public on Monday through
                    Saturday on every day of the week.

                  </p>

                  <li class="sub_heading">

                    What of if I exhaust my 10 CDs can I still go back to the outlet
                    and pick up more?

                  </li>

                  <p>

                    Yes! The aim of the contest is to market the most number of CDs. So, when once the
                    marketer has exhausted his / her CDs, the marketer can go back to the distribution
                    outlet and pick up more copies

                  </p>

                  <li class="sub_heading">

                    How much does a CD cost?

                  </li>

                  <p>

                    Each CD costs N300. There is no discount for multiple CD sold.

                  </p>

                  <li class="sub_heading">How would I be identified as a www.stakeon2.com marketer?</li>

                  <p>

                    The marketers of www.stakeon2.com will be given T-shirts for their marketing.
                    The website will also serve as another confirmation tool for identifying our
                    marketers.

                  </p>

                  <li class="sub_heading">

                    How will the distribution outlets know I have made payments for the 10 CDs I
                    marketed?

                  </li>

                  <p>

                    After any payment is made, an alert will be sent to all the distribution centres
                    informing them of the payment and the marketer that made the payment and should
                    be allowed to take 10 more CDs.

                  </p>

                </ol>

                <div class="top_anchor_div">

                  <a href="#top" class="top_anchor">Back To The Top</a>

                <!-- .top_anchor_div --></div>


                <h5><a name="remitting">REMITTING PAYMENTS</a></h5>

                <ol>

                  <li class="sub_heading">

                    How do I remit my payments to enable me pick up more CDs?

                  </li>

                  <p>

                    After completing sales, the marketer should pay the money at Minji-Se Churchill Micro Finance Bank
                    at #26 Churchill Road, Town, Port Harcourt, Rivers State or into Minji-Se Churchill Micro
                    Finance Bank's Account at any UBA branch closest to him/her with the following details<br /><br />

			                  Account Name:	MCMFB LTD<br /><br />
			                  Account Number:	00860030000025<br /><br />
			                  Bank:			United Bank of Africa (UBA).<br /><br />

                  </p>

                  <li class="sub_heading">

                    How will the distribution outlets know I have made payments for the 10 CDs I
                    marketed?

                  </li>

                  <p>

                    After any payment is made, an alert will be sent to all the distribution centres informing
                    them of the payment and the marketer that made the payment and should be allowed to take
                    10 more CDs

                  </p>

                  <li class="sub_heading">

                    What of if I exhaust my 10 CDs can I still go back to the outlet
                    and pick up more?

                  </li>

                  <p>

                    Yes! The aim of the contest is to market the most number of CDs. So, when once the
                    marketer has exhausted his / her CDs, the marketer can go back to the distribution
                    outlet and pick up more copies

                  </p>

                  <li class="sub_heading">

                    Can I make a checkout during the contest?

                  </li>

                  <p>

                    When the contest is started and a person is declared an eligible marketer for
                    www.stakeon2.com, there is no payments if a marketer quits the process.

                  </p>

                </ol>

                <div class="top_anchor_div">

                  <a href="#top" class="top_anchor">Back To The Top</a>

                <!-- .top_anchor_div --></div>


                <h5><a name="getting">GETTING PAID</a></h5>

                <ol>

                  <li class="sub_heading">

                    How much do I get paid at the end of the month?

                  </li>

                  <p>

                  Every marketer is eligible to collect a payment of Twenty thousand naira only N20,000
                  after completing a sale of 300 CDs.

                  </p>

                  <li class="sub_heading">

                    What of if I sell more than 300 CDs in a month, do I get paid more than N20,000?

                  </li>

                  <p>

                    A marketer will be paid for every 300 CDs. The more CDs the marketer sells, the more
                    money the marketer makes.

                  </p>

                  <li class="sub_heading">

                    How do I receive the cash payments?

                  </li>

                  <p>

                    During the online registration of the marketer, details of payment methods was requested.
                    The marketer will receive his / her payments according to the details that was logged in
                    on the specification form.

                  </p>

                  <li class="sub_heading">

                    How will the marketer know that he/she has been paid?

                  </li>

                  <p>

                    An alert will be sent to the marketer's page telling the marketer of the payment.
                    Also an email will be sent to the email account of the marketer informing the marketer
                    of the payment.

                  </p>

                </ol>

                <div class="top_anchor_div">

                  <a href="#top" class="top_anchor">Back To The Top</a>

                <!-- .top_anchor_div --></div>


                <h5><a name="grand">GRAND PRIZES</a></h5>

                <ol>

                  <li class="sub_heading">

                    What is the grand prize for being the highest marketer of the month?

                  </li>

                  <p>

                    The marketer that sells the most CDs for the month is automatically the winner for the
                    month and entitled to a sum of One Million Naira, N1,000,000. The first runner
                    up (the marketer with the second highest sales that month) is entitled to Five Hundred
                    Thousand Naira, N500,000. The second runner up (the marketer with the third highest
                    sales that month) goes to the next ten highest selling marketers and they are entitled
                    to One Hundred Thousand Naira, N100,000 each.

                  </p>

                  <li class="sub_heading">

                    How do I know how I am doing on the chart amongst the contesting marketers?

                  </li>

                  <p>

                    There is a live chart on the website which you can reach through the following link
                    www.stakeon2.com/marketers/livechart. The chart displays the ranking of the marketers
                    in descending order of the number of sales.

                  </p>

                </ol>

                <div class="top_anchor_div">

                  <a href="#top" class="top_anchor">Back To The Top</a>

                <!-- .top_anchor_div --></div>


                <h5><a name="subsequent">SUBSEQUENT MONTHS</a></h5>

                <ol>

                  <li class="sub_heading">

                    Is there a discount on the security fee paid after the first month of sales?

                  </li>

                  <p>

                    The security fee is reduced to N1,500 after the first month of payment.

                  </p>

                </ol>

                <div class="top_anchor_div">

                  <a href="#top" class="top_anchor">Back To The Top</a>

                <!-- .top_anchor_div --></div>

                </ol>

                  <br /><br /><br /><br />

              </p>

            <!-- end #content_body --></div>


          <!-- end #form_content_text --></div>

        <!-- end #form_content_body --></div>

